/*custom css*/

body {
	background: url(images/friends.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 25%;
	font-family: 'Jua', sans-serif;
}

html, body {
	width : 100%;
	height: 100%;
}

.navbar-dark .navbar-brand {
	font-weight: 800;
	color: #1aa3ff;
	font-size: 24px;
	letter-spacing : 2px; 
}

.clgr {
	color : #00e600;
}
.jumbotron {
	font-family: 'Merienda', cursive;
}

nav.navbar {
	font-size: 18px;
	/*height: 12%;*/
	/* height property will effect the mobile layout for it could not apply the dark theme when expanded in mobile*/
}

ul.navbar-nav {
	margin-left: 3%;
}

.nav-link {
	font-size: 20px;
}

a.navbar-brand {
	font-family: 'Josefin sans', sans-serif; 
}

div#navbarSupportedContent {
	letter-spacing: 1.5px;
}

li.nav-item {
	margin-right: 10px;
}
a#login {
	color : #ff9900;
}
a#signup {
	color : #ffcc00;
}

.navbar-dark .navbar-nav .nav-link {
	color : white;
}
.navbar-dark .navbar-nav .active > .nav-link {
	color : #00e600;
}